:root {
  --font-tiny: 0.5em;
  --font-small: 0.75em;
  --font-medium: 1em;
  --font-large: 1.5em;
  --font-xlarge: 2em;
  --color-bg: hsl(270, 25%, 97%);
  --gap-big: 2em;
}
body > * {
  font-family: sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

/* STYLES */
.soft-shadow {
  padding: 2em;
  border-radius: 2em;
  box-shadow: 3px 3px 40px 10px hsla(270, 50%, 85%, 0.3);
}

/* LAYOUT AND RESPONSIVE */

body {
  display: flex;
  flex-direction: column;
  gap: var(--gap-big);

  font-size: var(--font-medium);
}

#app {
  display: flex;
  gap: var(--gap-big);
  flex-direction: column;
  height: 100vh;
}

#main {
  display: flex;
  flex-direction: column;
  gap: var(--gap-big);
}

#burger {
  position: sticky;
  top: 0;
}

#menu {
  display: none;
  padding: var(--gap-big);
  flex-direction: column;
}

nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.list-item {
  border-left: 0.5ch solid transparent;
  display: flex;
  gap: 1em;
  padding: 0.5em 1em;

  cursor: pointer;
}

.list-item:active,
.list-item:hover {
  border-left: 0.5ch solid hsl(268, 100%, 87%);
  background-color: hsl(270, 100%, 97%);
}

.list-item i {
  font-style: normal;
}

.list-spacer {
  padding: 1em;
}

@media (min-width: 768px) {
}

/* Decent computer display: Menu Left + Sections Side-By-Side */
@media (min-width: 1440px) {
  body {
    flex-direction: row;
  }
  #menu {
    position: sticky;
    display: flex;
    width: 300px;
    top: 0;
    bottom: 0;
  }
  #burger {
    display: none;
  }
  #app {
    flex: 1;
  }

  #main {
    margin-right: 2rem;
  }
}

@media (min-width: 1920px) {
  #app {
    flex-direction: row;
  }

  #main {
    flex: 1;
  }

  #sidebar-slash-footer {
    min-height: unset;
    width: 300px;
  }
}
