
#sidebar-slash-footer {
  min-height: 300px;
}

#header {
  min-height: 30px;
}
#primary {
  min-height: 300px;
}

#secondary {
  min-height: 300px;
}

#additional {
  min-height: 300px;
}

#misc {
  min-height: 300px;
}
